* {
    margin: 0;
    padding: 0;
}

.header {
    background-image: url("./Image\ 1.webp");
    font-family: Helvetica;
    font-size: 50px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    border: 1px solid red;
    margin-bottom: 50px;
    margin-top: 50px;
}

.brushes {
    background-color: mediumspringgreen;
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    margin-bottom: 30px;
}


